# Terms & Conditions

_(last updated YYYY-MM-DD)_

These terms and conditions (the “Terms and Conditions”) govern the use of GATE Teamware...

---

> If the standard GATE Teamware terms document does not meet
> your needs, you will need to create your own version as a
> Markdown document.  A simple way to start would be to
> run Teamware initially with the default terms, visit the
> T&C page in your browser, and copy and paste the content
> into [StackEdit](https://stackedit.io/app) to convert it to
> Markdown, then edit it to meet your requirements.
> 
> Save your completed document in this folder as
> `terms-and-conditions.md`, and Teamware will serve it in
> place of the standard terms.