//@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background: #fff
}

legend {
    font-weight: bold;
  }

.annotation {

  legend {
    font-weight: bold;
  }


  .annotation-description {
    font-size: small;
    color: #6d6d6d;

  }

}


