@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  background: #fff;
}

// pad the bottom only when the footer is shown
@media only screen and (min-width: 768px) {
  body {
    padding-bottom: 70px;
  }
}

legend {
    font-weight: bold;
  }

.annotation {

  legend {
    font-weight: bold;
  }


  .annotation-description {
    font-size: small;
    color: #6d6d6d;

  }

  // convenient spacing classes for checkboxes/radios that have an htmlLabel - the effect
  // of putting a class='tw-space-below-4' on something inside the htmlLabel of an option
  // is equivalent to putting 'mb-4' on the option div itself.
  @each $size, $length in $spacers {
    @each $dir, $edge in (above:top, below:bottom) {
      :is(.custom-checkbox, .custom-radio):has(.tw-space-#{$dir}-#{$size}) {
        margin-#{$edge}: $length;
      }
    }
  }

}

.data-bg {
  background: #eeeeee;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// annotation help tooltip question mark
.annotation-help-prompt{
  color: gray;
}