//@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background: #fff
}

legend {
    font-weight: bold;
  }

.annotation {

  legend {
    font-weight: bold;
  }


  .annotation-description {
    font-size: small;
    color: #6d6d6d;

  }

}

.data-bg {
  background: #eeeeee;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// annotation help tooltip question mark
.annotation-help-prompt{
  color: gray;
}