{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>

    <title>GATE Annotation Tool</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />


    {% render_bundle 'css' %}

    <!-- <script>
    const user = {
        username: "{{ user.username  }}",
        isAuthenticated: {% if user.is_authenticated %} true {% else %} false {% endif %},
    };
    const csrftoken = "{{ csrf_token }}";
    </script> -->

</head>

<body class="d-flex flex-column h-100">




<main role="main" class="flex-shrink-0">

